.container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper{
  width: 500px;
  background-color: var(--bgSoft);
  padding: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
  border-radius: 5px;
}
.form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.form input{
  padding: 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #f7f7f7;
  font-size: 18px;
  width: 100%;
  max-width: 400px;
}
.form button{
  padding: 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: var(--btn);
  font-size: 18px;
  width: 100%;
  max-width: 400px;
  color: var(--text);
  cursor: pointer;
}
.form button:hover{
  background-color:rgb(65, 75, 75);
}